.ecommerce
    position: relative
    width: 100%
    overflow: hidden

    .wrapper-form

        fieldset
            border: none
            padding: 0
            margin: 0

        h1
            color: $color_b
            text-align: center
            margin-top: 100px
        
        form
            width: calc(100% - 110px)
            margin: 50px auto
            border-radius: 50px
            background-color: rgba($color_b, 0.1)
            padding: 50px 30px
            margin-bottom: 100px
            padding-left: 80px
            position: relative

            .decorator
                position: absolute
                top: 120px
                left: -53px
                padding: 0 30px
                transform: rotateZ(-90deg)
                background-color: $color_c
                color: $color_d
                font-weight: bold
                border-bottom-left-radius: 15px
                border-bottom-right-radius: 15px

            .inputs
                width: 100%
                display: flex
                align-items: flex-start
                justify-content: space-between

                .left, .right
                    width: 48%
                


                label, p
                    display: block
                    font-size: 14px
                    margin: 10px

                label
                    transition-duration: $transition-duration

                    &:hover
                        margin-left: 20px
                        font-size: 16px
                        font-weight: bold
                        color: $color_c

                        input
                            margin-left: -10px
                            width: calc(100% - 30px)

                    &.select
                        cursor: pointer

                        &:hover
                            margin: 10px

                            input
                                margin-left: 0
                                width: auto



                    
                input
                    display: block
                    outline: none
                    border: none
                    margin-top: 5px
                    width: calc(100% - 40px)
                    font-size: 18px
                    border-radius: 10px
                    background-color: $color_d
                    color: $color_a
                    padding: 5px 20px
                    transition-duration: $transition-duration

                    &:focus
                        font-size: 20px

                    &[type="checkbox"], &[type="radio"]
                        width: auto
                        display: inline

            input[type="submit"]
                margin: 0 auto
                display: block
                margin-top: 30px

    @media screen and (max-width: 1050px)
        .wrapper-form
            form
                width: calc(90% - 110px)


    @media screen and (max-width: 600px)
        .wrapper-form
            form
                padding: 30px 15px
                width: calc(90% - 60px)

                .decorator
                    display: none

                .inputs
                    flex-direction: column
                
                    .left, .right
                        width: 100%

            h1
                width: 90%
                margin-right: auto
                margin-left: auto