header
    padding-top: 20px
    margin: 0 auto
    height: 40px

    nav
        @include no-space()

        ul
            @include no-space()
            display: flex
            align-items: center
            justify-content: flex-end
            width: 100%

            li
                list-style: none

                a
                    padding: 15px
                    margin: 20px 0
                    color: rgba($color_a, 0.5)
                    transition-duration: $transition-duration

                    &:hover
                        color: rgba($color_a, 1)
                        font-size: 120%

                i
                    border-right: 1px solid rgba($color_b, 0.2)

                &:last-child
                    i
                        border: none
