.hero
    background: rgb(35,36,37)
    background: -moz-linear-gradient(90deg, rgba(35,36,37,1) 0%, rgba(57,58,60,1) 49%, rgba(35,36,37,1) 100%)
    background: -webkit-linear-gradient(90deg, rgba(35,36,37,1) 0%, rgba(57,58,60,1) 49%, rgba(35,36,37,1) 100%)
    background: linear-gradient(90deg, rgba(35,36,37,1) 0%, rgba(57,58,60,1) 49%, rgba(35,36,37,1) 100%)
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232425",endColorstr="#232425",GradientType=1)
    padding-top: 10px
    position: relative
    overflow: hidden

    .content
        margin-top: 80px
        display: flex
        align-items: center
        justify-content: center
        text-align: center

        .right, .left
            width: 50%

        h1
            font-size: 38px
            color: rgba($color_a, 0.6)
            margin-top: -50px

            span:first-child
                color: $color_c
                font-size: 30px

            span:last-child
                color: rgba($color_a, 1)
                font-style: italic
                font-size: 42px

        p
            width: auto
            margin: 15px 20px

            span
                font-weight: bold
            

        .photo
            width: 90%
            height: 100%

    .logo
        position: absolute
        z-index: 1
        border-radius: 50%
        overflow: hidden
        position: absolute

        &.a
            width: 25vw
            height: auto       
            transform: rotateZ(-25deg)
            left: -10%
            top: -15%
            opacity: 0.2

        &.b
            width: 35vw
            height: auto       
            transform: rotateZ(25deg)
            right: -20%
            bottom: -20%
            opacity: 0.2

    @media screen and (max-width: 1050px)
        .content
            display: block
            padding-bottom: 30px
            margin-top: 120px

            .left
                width: 80%
                margin: 0 auto

            .photo
                display: none

        .logo
            display: none

    @media screen and (max-width: 550px)
        .content
            .left
                width: 90%

            h1
                font-size: 18px

                span:first-child
                    font-size: 20px

                span:last-child
                    font-size: 28px
