.services

    h2
        color: $color_b
        text-align: center

    .cards
        display: grid
        grid-template-columns: repeat(4, 1fr)

        .card
            opacity: 0.3
            padding: 30px
            cursor: pointer
            transition-duration: $transition-duration
            
            &:focus
                outline: none

            &.even
                margin-top: 50px

            &:hover
                opacity: 1

            &.active
                opacity: 1
            
            .images
                position: relative

                .profile, .logo
                    overflow: hidden
                    border-radius: 50%
                    box-shadow: 2px 2px 12px 0px black

                .profile
                    width: 80%
                    height: 80%
                    background-color: $color_b

                    svg
                        width: 70%
                        height: auto
                        fill: $color_d

                .logo
                    width: 20%
                    height: auto
                    position: absolute
                    bottom: 0px
                    right: 50px

            h3
                color: $color_b
                font-size: 20px

            button
                cursor: pointer



    @media screen and (max-width: 1050px)
        .cards
            grid-template-columns: repeat(2, 1fr)
            width: 90%

            .card
                text-align: center
                position: relative
                padding-bottom: 50px

                &:nth-child(4), &:nth-child(3)
                    padding-top: 100px

                .images
                    .profile
                        width: 200px
                        height: 200px
                        margin: 0 auto

                    .logo
                        display: none

                &.even
                    margin-top: 0

                button
                    position: absolute
                    right: 0
                    left: 0
                    bottom: 0
                    width: 180px
                    margin: 0 auto
    
    @media screen and (max-width: 550px)
        .cards
            grid-template-columns: repeat(1, 1fr)

            .card
                .images
                    .profile
                        width: 150px
                        height: 150px