.divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    margin-top: -50px;
}

.divider-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
}

.divider-top .shape-fill {
    fill: #D1EAFE;
}


.divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 49px;
}

.divider-bottom .shape-fill {
    fill: #393a3c;
}