html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
  color: #f6f6f8;
  background-color: #393a3c;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather Sans", sans-serif;
}

.wrapper-img {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-img img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  font-size: 18px;
}
p.small {
  font-size: 16px;
}

.hide {
  display: none !important;
}

a {
  text-decoration: none;
  color: #f6f6f8;
}

.regular-width {
  max-width: 1000px;
  margin: 0 auto;
}

.btn.primary {
  border-radius: 50px;
  font-size: 25px;
  padding: 20px 60px;
  display: inline-block;
  margin-top: 20px;
  background-color: #fcb549;
  color: #393a3c;
  font-weight: bold;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
  transition-duration: 0.5s;
  background: #fec978;
  background: -moz-linear-gradient(180deg, #fec978 0%, #fcb549 49%, #d1973e 100%);
  background: -webkit-linear-gradient(180deg, #fec978 0%, #fcb549 49%, #d1973e 100%);
  background: linear-gradient(180deg, #fec978 0%, #fcb549 49%, #d1973e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec978",endColorstr="#d1973e",GradientType=1);
}
.btn.primary:hover {
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.8);
  font-size: 28px;
}
.btn.primary:active {
  box-shadow: inset 4px 4px 8px 2px rgba(0, 0, 0, 0.5);
}

header {
  margin-top: 20px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 100%;
}
header nav {
  margin: 0;
  padding: 0;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
header nav ul li {
  list-style: none;
  display: inline-block;
  width: auto;
  height: auto;
}
header nav ul li .wrapper-arrow {
  display: none;
}
header nav ul li a {
  padding: 15px;
  color: rgba(246, 246, 248, 0.5);
  transition-duration: 0.5s;
  display: inline-block;
}
header nav ul li a:hover {
  color: #f6f6f8;
  font-size: 120%;
}
header nav ul li i {
  border-right: 1px solid rgba(209, 234, 254, 0.2);
}
header nav ul li:nth-child(4) i {
  border: none;
}
@media screen and (max-width: 1050px) {
  header nav ul {
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  header {
    margin: 0;
    position: relative;
    display: block;
    width: calc(100% - 40px);
    padding: 20px;
    margin-top: -155px;
    transition-duration: 0.5s;
  }
  header.open {
    margin-top: 0;
  }
  header.open nav ul li .wrapper-arrow .arrow {
    transform: rotateZ(90deg);
  }
  header nav {
    width: 100%;
    margin-top: 20px;
  }
  header nav ul {
    flex-direction: column;
  }
  header nav ul li {
    width: 100%;
    text-align: center;
  }
  header nav ul li .wrapper-arrow {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -80px;
    margin-top: 10px;
  }
  header nav ul li .wrapper-arrow .arrow {
    fill: #f6f6f8;
    width: 30px;
    height: 30px;
    padding: 20px;
    transform: rotateZ(-90deg);
    transition-duration: 0.5s;
    cursor: pointer;
    outline: none;
    box-shadow: none;
  }
  header nav ul li .wrapper-arrow .arrow:focus {
    outline: none;
    box-shadow: none;
  }
  header nav ul li .wrapper-arrow:hover .arrow {
    fill: #fcb549;
  }
  header nav ul li a {
    padding: 5px 0;
    width: 100%;
  }
  header nav ul li i {
    border: none;
  }
}

.hero {
  background: #232425;
  background: -moz-linear-gradient(90deg, #232425 0%, #393a3c 49%, #232425 100%);
  background: -webkit-linear-gradient(90deg, #232425 0%, #393a3c 49%, #232425 100%);
  background: linear-gradient(90deg, #232425 0%, #393a3c 49%, #232425 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#232425",endColorstr="#232425",GradientType=1);
  padding-top: 10px;
  position: relative;
  overflow: hidden;
}
.hero .content {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero .content .right, .hero .content .left {
  width: 50%;
}
.hero .content h1 {
  font-size: 38px;
  color: rgba(246, 246, 248, 0.6);
  margin-top: -50px;
}
.hero .content h1 span:first-child {
  color: #fcb549;
  font-size: 30px;
}
.hero .content h1 span:last-child {
  color: #f6f6f8;
  font-style: italic;
  font-size: 42px;
}
.hero .content p {
  width: auto;
  margin: 15px 20px;
}
.hero .content p span {
  font-weight: bold;
}
.hero .content .photo {
  width: 90%;
  height: 100%;
}
.hero .logo {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}
.hero .logo.a {
  width: 25vw;
  height: auto;
  transform: rotateZ(-25deg);
  left: -10%;
  top: -15%;
  opacity: 0.2;
}
.hero .logo.b {
  width: 35vw;
  height: auto;
  transform: rotateZ(25deg);
  right: -20%;
  bottom: -20%;
  opacity: 0.2;
}
@media screen and (max-width: 1050px) {
  .hero .content {
    display: block;
    padding-bottom: 30px;
  }
  .hero .content .left {
    width: 80%;
    margin: 0 auto;
  }
  .hero .content .photo {
    display: none;
  }
  .hero .logo {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  .hero .content .left {
    width: 90%;
  }
  .hero .content h1 {
    font-size: 18px;
  }
  .hero .content h1 span:first-child {
    font-size: 20px;
  }
  .hero .content h1 span:last-child {
    font-size: 28px;
  }
}

.iphone {
  padding-top: 100px;
  background-color: #d1eafe;
  position: relative;
}
.iphone .content.regular-width {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 600px;
}
.iphone .content.regular-width .left {
  position: absolute;
  left: 0;
  margin-bottom: 150px;
  width: 50%;
  color: #393a3c;
  text-align: center;
}
.iphone .content.regular-width .left span {
  font-weight: bold;
}
.iphone .content.regular-width .left h2 {
  font-size: 25px;
  font-weight: normal;
}
.iphone .content.regular-width .left p {
  width: 80%;
  margin: 0 auto;
}
.iphone .content.regular-width .left p:last-child {
  font-size: 12px;
}
.iphone .content.regular-width .right {
  z-index: 1;
  margin-top: 100px;
  position: absolute;
  right: -10%;
  height: auto;
  width: 80%;
}
.iphone .divider-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  margin-top: -50px;
  z-index: 2;
}
.iphone .divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}
.iphone .divider-top .shape-fill {
  fill: #D1EAFE;
}
.iphone .divider-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
.iphone .divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}
.iphone .divider-bottom .shape-fill {
  fll: #393a3c;
}
.iphone .icon.regular.instagram {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 10%;
  right: 25%;
}
.iphone .icon.regular.facebook {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 35%;
  right: 26%;
}
.iphone .icon.regular.twitter {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 15%;
  right: 45%;
}
.iphone .icon.background.instagram {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 0;
  right: -15%;
  filter: blur(20px);
  opacity: 0.2;
  transform: rotate(45deg);
}
.iphone .icon.background.facebook {
  width: 600px;
  height: 600px;
  position: absolute;
  bottom: 0;
  left: -15%;
  filter: blur(20px);
  opacity: 0.15;
  transform: rotate(-20deg);
}
.iphone .icon.background.twitter {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
